[submodule "L2-Net-Python-Keras"]
	path = L2-Net-Python-Keras
	url = git@github.com:virtualgraham/L2-Net-Python-Keras.git
[submodule "hardnet"]
	path = hardnet
	url = git@github.com:DagnyT/hardnet.git
[submodule "Key.Net"]
	path = Key.Net
	url = https://github.com/axelBarroso/Key.Net.git
[submodule "SuperPoint"]
	path = SuperPoint
	url = https://github.com/rpautrat/SuperPoint.git
