[submodule "hardnet"]
	path = hardnet
	url = git@github.com:DagnyT/hardnet.git
[submodule "keynet"]
	path = keynet
	url = https://github.com/axelBarroso/Key.Net.git
[submodule "superpoint"]
	path = superpoint
	url = https://github.com/rpautrat/SuperPoint.git
